# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Spark / Hadoop
# ==========================================
spark-warehouse/
metastore_db/
derby.log

# Hadoop checksum files
*.crc

# Spark Success files
_SUCCESS

# ==========================================
# Generated Data
# ==========================================
data/bronze/
data/silver/
data/gold/

# Uncomment if you don't want to commit the generated CSV
# data/raw/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment Files
# ==========================================
.env

# ==========================================
# macOS resource forks
# ==========================================
._*

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.temp