# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Spark / Hadoop
# ==========================================
spark-warehouse/
metastore_db/
derby.log

# Spark Success Files
_SUCCESS

# Hadoop CRC Files
*.crc

# ==========================================
# Generated Data (Do Not Commit)
# ==========================================
data/bronze/
data/silver/
data/gold/

# Ignore generated raw dataset
data/raw/*

# Keep the raw directory in Git
!data/raw/.gitkeep

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment Files
# ==========================================
.env

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp

# ==========================================
# macOS Resource Files
# ==========================================
._*